<div class="pull-right">
  <%= link_to("Add a job", new_job_path, :class => "btn btn-default" ) %>
</div>
<% if current_user %>
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-strcked" style="max-width: 300px; padding-top:20px;" >
      <li class="active"><%= link_to("返回管理页面", admin_jobs_path )%> </li>
    </ul>
  </div>
</div>
<% end %>

<table class="table table-boldered">
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_job_path(job)) %>
      <%= link_to("Destroy", job_path(job), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</table>
