<nav class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="/"><i class="fa fa-suitcase fa-lg" aria-hidden="true">  未来工作网 </i></a>
      <!--第二种方法用图片 <a class="navbar-brand" href="/"><img src='<%= image_url 'logo.png' %>' >未来工作网</a> -->
  		<a class="navbar-brand" href= /jobs > 浏览职位</a>
      <!-- 增加浏览职位的导航栏-->
    </div>

    <!-- search 栏bar, 位置一定要放在这里，否则会跑出导航栏-->
    <div class="nav navbar-nav navbar-left">
          <%= form_tag search_jobs_path , :method => :get  do %>
          <div class="input-group" id="search-id" >
            <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="请输入职位信息">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>

          </div>
          <% end %>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
              <% if !current_user %>
                <li> <a href="#" data-toggle="modal" data-target="#signup-modal"><span class="glyphicon glyphicon-user"></span> 注册</a> </li>
                <li> <a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> 登录</a> </li>
              <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Hi!, <%= current_user.display_name %>
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                    <% if current_user.admin? %>
                      <li> <%= link_to("<span class='fa fa-home fa-lg'></span> 管理面板".html_safe, admin_jobs_path) %> </li>
                    <% end %>
                      <li> <%= link_to("<span class='fa fa-heart'></span> 我收藏的工作".html_safe, favorite_jobs_path) %> </li>
                      <li> <%= link_to("<span class='fa fa-user fa-lg'></span> 个人中心".html_safe, edit_account_user_path(current_user)) %> </li>
                      <li role="separator" class="divider"></li> <!-- divider是bootstrap dropdowns下的分隔功能，可将多个下拉菜单分开 -->
                      <li> <%= link_to("<span class='fa fa-sign-out fa-lg'></span> 退出".html_safe, destroy_user_session_path, method: :delete) %> </li>
                  </ul>
                </li>
              <% end %>
            </li>
          </ul>
    </div>
        <!-- /.navbar-collapse -->
  </div>
    <!-- /.container-fluid -->
</nav>



<!-- 以下代码添加在最后 -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="loginmodal-container">
      <h2><span class="glyphicon glyphicon-log-in"></span> 账号登录</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Log in" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="loginmodal-container">
        <h2><i class="fa fa-user-circle-o" aria-hidden="true"></i> 账号注册</h2>
         <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
         <%= f.error_notification %>
         <div class="form-inputs">
           <%= f.input :email, required: true, autofocus: true %>
           <%= f.input :name %>
           <%= f.input :password, required: true, hint: ("#{@minimum_password_lenth} characters minimum" if @minimum_password_length) %>
           <%= f.input :password_confirmation, required: true %>
            <%= f.input :is_admin, as: :radio_buttons, collection:  [['个人用户', false], ['企业用户', true]], required: true %>
         </div>
         <div class="form-actions">
           <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
         </div>
        <% end %>
      </div>
    </div>
  </div>
